@import url('https://fonts.googleapis.com/css?family=Saira');

.info-wrapper {
  padding: 1rem;
  border-top: 1px solid #C4C4C4;
  font-family: 'Saira', sans-serif;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.5rem;
}

.info-row {
  font-size: 1rem;
  font-weight: 400;
}

.info-row-strong {
  font-weight: 700;
}
